body {
  background: linear-gradient(135deg, #0f172a, #020617);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.back {
  display: block;
  margin-top: 15px;
  color: #94a3b8;
  text-decoration: none;
}
