body {
  background: #0f172a;
  font-family: Arial;
  color: white;
  text-align: center;
}

.box {
  background: #1e293b;
  padding: 40px;
  width: 350px;
  margin: 100px auto;
  border-radius: 10px;
}

.btn {
  display: block;
  background: #22c55e;
  color: black;
  padding: 12px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
}
