*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  background:#000;
  overflow:hidden;
}

/* HERO */
.hero{
  height:100vh;
  width:100%;
  background:
    linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url("office.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
}

.content{
  text-align:center;
  color:#fff;
}

h1{
  font-size:64px;
  letter-spacing:2px;
  white-space:nowrap;
}

h1 span{
  color:#38bdf8;
}

p{
  margin-top:16px;
  font-size:20px;
  opacity:.9;
}

.buttons{
  margin-top:40px;
  display:flex;
  gap:25px;
  justify-content:center;
}

.btn{
  padding:16px 36px;
  border-radius:14px;
  text-decoration:none;
  font-size:18px;
  font-weight:600;
  transition:.3s;
}

.lead{
  background:#22c55e;
  color:#fff;
}

.case{
  background:#3b82f6;
  color:#fff;
}

.btn:hover{
  transform:translateY(-6px);
  box-shadow:0 20px 40px rgba(0,0,0,.5);
}

/* CURSOR EFFECT */
span{
  position:fixed;
  width:14px;
  height:14px;
  background:radial-gradient(circle, rgba(56,189,248,.7), transparent 70%);
  border-radius:50%;
  pointer-events:none;
  transform:translate(-50%,-50%);
  animation:fade .6s linear forwards;
  z-index:9999;
}

@keyframes fade{
  to{
    opacity:0;
    transform:scale(3);
  }
}
